go 1.24.6

use (
	./modules/basic
	./modules/callee
	./modules/caller
	./modules/custom_error
	./modules/http_server
	./modules/otel
	./modules/repository_pattern
	./modules/slog
	./modules/visitor
)
